KEY: secret key that chat servers need to auth with us. MUST BE SET!
PORT: port to run on. defaults to 80

LOGGER: console (default) | log4js | splunk | none
#Note: log4js should be used only for local testing.

#if logger is log4js these are optional
LOG4JS_LEVEL: info | debug | warn
LOG4JS_FILENAME: name-of-log-file
LOG4JS_CATEGORY: categoy-name
LOG4JS_MAXLOGSIZE: int-size-of-log
LOG4JS_BACKUPS: int-number-of-logs-to-retain

#if logger is splunk these must be set for the http event collector
SPLUNK_TOKEN: token
SPLUNK_URL: url